*.out
chapter1/*.out
chapter2/*.out
chapter3/*.out
chapter4/*.out
chapter5/*.out
chapter6/*.out
chapter7/*.out
chapter8/*.out
chapter9/*.out
chapter10/*.out
chapter11/*.out
chapter12/*.out
chapter13/*.out
chapter14/*.out
chapter15/*.out
chapter16/*.out
chapter17/*.out
chapter18/*.out
chapter19/*.out
chapter20/*.out
test.c